*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.966);
}
.cab_nav{
    width: 100%;
    padding: 20px;
    text-align: right;
    position: fixed;
    top: 0px;
}
.cab_nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}
.cab_nav ul li a{
    text-decoration: none;
    color: white; 
}
.nomb_logo{
    width: 330px;
    padding: 0px 20px;
    float: left;
    position: relative;
    top: 5%;
    left: 2%;
    color: #fff;
    font-size: 30px;
}
.logo_img{
    width: 80px;
    position: absolute;
    transform: translateX(-1520%) translateY(-15px);    
}
.contenedor{
    position: absolute;
    top: 30%;
    left: 31%;
    transform: translateX(-50%) translateY(-50%)
    padding: 25px 10px;
    border: solid;
    background-color: rgba(51, 127, 187, 0.4); 
}
.titulo_cont{
    font-size: 40px;
    text-align: center;
    padding: 20px 10px;
}
.parrafo_cont{
    font-size: 20px;
    text-align: justify;

}
.fondo{
    position: fixed;
    min-width: 100%;
    min-width: 100%;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: -1;
}
.foot{
    background-color: rgba(14, 13, 13, 0.966);
    margin-top: 40%;
    width: 100%;
    padding: 20px 0px;
    position: relative;
}
.foot_p{
    color: #fff;
    text-align: center;

}






